p{
    
    box-sizing: border-box;
    width:380px;
    height:200px;
    float: right;
    margin-right: 340px;
    margin-top: 0px;
    letter-spacing: 3px;
    padding-top: 20px;

}
h2{
	text-align: left;
	margin-left:580px;
	height: 20px;
	margin-top: 30px;
	
}
body{
	background-color: #5389a6;
	background-image: url("78294.jpg");
    background-repeat: repeat-y;
    background-position: right top;
    background-attachment: fixed;
	margin-right: 50px;
	font-size: 20px;
} 


.stage {
  background-color: #a6dcee;	
  box-sizing: border-box;
  width: 400px;
  height: 500px;
  margin-left:10px;
  margin-top: 0px;
  padding-top: 5px;
  border-radius: 15px;
 
 
  position: absolute;
  width: 500px;
  height: 650px;
  overflow: hidden;
  background: #4695A5;
  box-shadow: 0 -200px 200px -250px #ff3f00 inset;
  animation: sky-change 13s infinite linear;
  }
	@keyframes sky-change {
  0% {
    background: #00609d;
  }
  50% {
    background: #272c49;
    box-shadow: 0 -100px 200px -250px #ff3f00  inset;
  }
  85% {
    background: #4695A5;
    box-shadow: 0 -100px 200px -250px  #001f43 inset;
  }
  100% {
    background: #00609d;
  }
}

form{
	box-sizing: border-box;
	position: absolute;
	width: 400px;
    height: 800px;
	margin-left: 20px;
	margin-top: 30px;
	padding: 30px;
	text-align: left;
	letter-spacing: 2px;
	float: left;
	color: #00040e;


}
input{
	width: 140px;
	height: 20px;
	background-color: #e8ebea;
	margin-bottom: 10px;

	
}

	

